/node_modules
/public/build
/public/hot
/public/storage
/public/*.js
/public/fonts
/public/js
/public/css
/public/pma
/public/edit
/public/mix-manifest.json
/public/ICEcoder
/storage/app/library
/storage/app/images/library
/storage/*.key
/resources/bin/ldview
/resources/semantic
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
